body {
    margin: 0;

    background-color: #fff;
    font-family: 'Releway', sans-serif;
    /* mainly all words by this font on macet */
    font-size: 14px;
    /* mainly all words by this size on macet */
    color: #bdc0c3;
    /* mainly all words by this color on macet */

}

*,
*:before,
/* the "*" dont mind pseudoclases, we mudt write this rule separate  */
*:after {
    box-sizing: border-box;
    /*all sizes and badding cant be bager, that width of body. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/* --------------container------------- */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}

/* --------------header------------- */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    /* make header ander all elements in page */
    right: 0;
    left: 0;
    z-index: 10;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    /* made header logo and navigation links to left and right position */
    padding: 38px 0;
    border-bottom: 1px solid #31354f;
}


/* --------------nav------------- */


.nav__link {
    text-decoration: none;

    padding: 25px;
    width: 65px;
    height: 12px;
    opacity: 0.75;
    transition: opacity .1s linear;
    color: #cbcbcb;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;

}

.nav__link:hover {
    opacity: 1;
}


/* --------------intro------------- */


.intro {
    display: flex;
    flex-direction: column;
    /* every element in INTRO will start at new line*/
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #31344e url('/img/Layer_34.png') center no-repeat;
}

.intro__inner {

    /* make .intro__title to be in center of the page */
    margin: 0 auto;
    width: 100%;
    max-width: 970px;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.intro__subtitle {
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;

}

.intro__bottom {
    text-decoration: none;
    display: inline-block;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    padding: 14px 40px;
    margin-top: 77px;
    background-color: #e84545;
    text-transform: uppercase;
    border-radius: 3px;
}

.intro__bottom:hover {
    background-color: #e60707;
}

/* --------------features------------- */
.features {
    display: flex;

    flex-wrap: wrap;
    margin-top: 124px;
    margin-bottom: 50px;

}

.features__item {
    width: 33.33%;
    text-align: center;
    margin-bottom: 75px;
    padding: 0 40px;
}

.features__icon {
    margin-bottom: 35px;

}

.features__title {
    margin-bottom: 25px;
    color: #343739;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.features__text {
    color: #6c7279;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}

/* --------------Works------------- */
.works__box {
    display: flex;
    justify-content: center;
}

.works {
    display: flex;
    flex-wrap: wrap;
    width: 1800px;
}



.works__items {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;

}

.works__items:hover .works__content {
    opacity: 1;
}

.works__image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, .9);
    opacity: 0;

    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;

}

.works__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.works__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;

}

/* --------------Team------------- */

.team {
    margin: 100px 0;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.team__item {
    width: 25%;
    padding: 0 15px;


}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__title {
    color: #2d3033;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 16px;
}

.team__jobtitle {
    color: #e84545;
    font-size: 13px;
    margin-bottom: 29px;
    text-transform: uppercase;
}

.team__text {
    color: #6c7279;
    width: 270px;

}


/* --------- social ---------- */
.social {

    padding-top: 20px;
    display: flex;

}

.solial--footer {
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}

.social__href {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border: 1px solid #e8ecee;
    width: 40px;
    height: 40px;
    background-color: #fff;

}


/* ----------------------reviews--------------------- */

.rewievs {
    background-color: #53354a;
    overflow: hidden;

}

.rewievs__item {
    display: flex;
    flex-wrap: wrap;
}

.rewievs__photo {
    width: 50%;
    position: relative;
}

.rewievs__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


.rewievs__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 500px;
    padding-left: 80px;
}

.rewievs__text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #fff;

}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
}


/* ----------------------download--------------------- */

.download {
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;

}

.download__item {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;

}

.download__subtitle {
    font-size: 13px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.down__bottom {
    margin-top: 10px;
    width: 280px;
}

/* ----------------------footer--------------------- */

.footer {

    background-color: #3a4e64;

}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33%;
    text-align: center;
}

.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__adress {
    font-size: 14px;
    line-height: 1.5;



}

.footer__copiright {
    background-color: #313454;
    padding: 20px 0;
}

.copyright__text{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;

}
span{
    color: #fff;
}